.btn{
    display: flex;
    justify-content: center;

    border: 0;
    border-radius: 1px;
    width: 50%;
    // height: 25px;
    
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    color: #061444;
    cursor: pointer;
    background-color: #d2c9ab;
    // box-shadow: 3px 3px 50px #333;
    &:hover{
        // border: 1px solid #061444;
        box-shadow: 0px 0px 20px rgba($color: #d2c9ab, $alpha: .5);
    }
    &:active{
        // border: 1px solid #061444;
        transform: scale(.95);
    }
}